.container
  - if @activity_stats_map.present? || @friends_stats_map.present?
    - if @activity_stats_map.present?
      %br
      %br
      %h3 Facebook Analysis
      %table.table.table-striped
        %tr
          %td
            %h4 Activity
          %td
            %h4 Post statistics
        %tr
          %td{width: '39%'}
            %table.inner
              %tr
                %td{width: '35%'}
                  %label Type
                %td{width: '20%'}
                  %label Count
                %td{rowspan: 4, style:'vertical-align: middle;'}
                  = image_tag  @activity_graph_url
              %tr
                %td
                  %label Uploaded photos
                %td
                  #{@activity_stats_map[:total_photos]}
              %tr
                %td
                  %label Statuses
                %td
                  #{@activity_stats_map[:total_statuses]}
              %tr
                %td
                  %label Posted links
                %td
                  #{@activity_stats_map[:total_links]}
          %td{width: '53%'}
            %table.inner
              %tr
                %td
                  %label Analyzed posts
                %td
                  #{@activity_stats_map[:total_posts]}
              %tr
                %td
                  %label Total likes
                %td
                  #{@activity_stats_map[:total_likes]}
              %tr
                %td
                  %label Total comments
                %td
                  #{@activity_stats_map[:total_comments]}
              %tr
                %td
                  %label Average post length
                %td
                  #{@activity_stats_map[:avg_char_length]} characters
      .page-break
      %table.table.table-striped
        %tr
          %td
            = image_tag @top_countries_graph_url
          %td
          %td
            = image_tag @top_states_graph_url
      .cl
    - else
      %table.table.table-striped
        %tr
          %td{colspan: 3, rowspan:3} Please connect to Facebook
    - if @friends_stats_map.present?
      %table.table.table-striped
        %tr
          %td
            = image_tag @friends_gender_graph_url
          %td
            = image_tag @friends_status_graph_url
          %td
            = image_tag @friends_age_graph_url
    - else
      %table.table.table-striped
        %tr
          %td{colspan: 3} Please connect to Facebook